{
    "说明1":"管理 bucket 创建和删除必须要公私钥，如果只做文件上传和下载用TOEKN就够了，为了安全，强烈建议只使用 TOKEN 做文件管理",
    "public_key":"",
    "private_key":"",

    "说明2":"以下两个参数是用来管理文件用的。对应的是 ufile.go 里面的接口",
    "bucket_name":"",
    "ufile_host":"",

    "说明3":"以下参数是用来管理 bucket 用的。对应的是 ubucket.go 里面的接口",
    "ubucket_host":""
}